include includes/head.pug
html 
    +header("Welcom to docker tutorial.")
    body.bg-light 
        h1= message 
        img(src="./public/images/docker.svg" alt="docker")
        include includes/script.pug